:root {
  --primary-color: #1e2a5e;
  --white-color: #fff;
  --main-color: #c7253e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: fantasy;
  background-color: var(--primary-color);
}

.text__to__speech--p {
  text-align: center;
  font-size: 5rem;
  color: var(--white-color);
  margin-top: 3rem;
}

.text__to__speech--speech {
  background-color: var(--main-color);
  padding: 0.5rem 2rem;
  border-radius: 19% 81% 22% 78% / 74% 32% 68% 26%;
}

.text--area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 8rem;
  gap: 3rem;
}

.text__to__speech--input {
  outline: none;
  border: none;
  background: none;
  background-color: #ffffff29;
  height: 30rem;
  width: 50rem;
  backdrop-filter: blur(3px);
  border-radius: 1rem;
  color: var(--white-color);
  font-size: 4rem;
}

.text__to__speech--btn {
  outline: none;
  background: none;
  border: none;
  background-color: var(--main-color);
  color: var(--white-color);
  padding: 2.5rem 5rem;
  border-radius: 19% 81% 22% 78% / 74% 32% 68% 26%;
  font-size: 2rem;
  cursor: pointer;
}

.text__to__speech--input::placeholder {
  color: var(--white-color);
  text-align: center;
}
